body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}
h1,h2,h3,p,span {
  padding: 0;
  margin: 0;
}
ul, ol,li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.row:before, .row:after {
  content:"";
  display: table ;
  clear:both;
}

.tx-align-left, .tx-align-left .comic-description{
  text-align: left !important;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.loader {
  width: 8px;
  height: 8px;
  margin: 40px auto;
  opacity: 1;
  border-radius: 50%;
  box-shadow:
    0 -14px 0 rgba(0,0,0,0.8),
    10px -10px 0 rgba(0,0,0,0.7),
    14px 0px 1px rgba(0,0,0,0.6),
    10px 10px 1px rgba(0,0,0,0.5),
    0px 14px 2px rgba(0,0,0,0.4),
    -10px 10px 2px rgba(0,0,0,0.3),
    -14px 0px 3px rgba(0,0,0,0.2),
    -10px -10px 3px rgba(0,0,0,0.1);
  transform-origin: 50%;
  animation: load 0.8s steps(8, end) infinite;
}

@keyframes load {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
.app-title {
  text-align: center;
  margin: 20px 0;
}
.comic-list {
  flex-flow: row wrap;
  justify-content: space-between;
}
.comic-list li{
  flex-grow: 1;
  flex-basis:auto;
  margin-bottom: 40px;
  align-items: center;
  flex-flow: column;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.comic-item{
  display: none;
}
.display {
	display: inline-flex;
}
.display-none {
  display: none;
}
.comic-list li:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.comic-list img {
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.comic-title {
  text-align: center;
  height: 40px;
}
.comic-title, .comic-series, .comic-creator {
  display: block;
  font-size: 13px;
}
.comic-description {
  display: block;
  font-size: 12px;
  text-align: center;
}
.morecontent span {
  display: none;
}
.btn-close-modal {
  border-radius: 50%;
  width: 24px !important;
  height: 24px;
  position: absolute;
  top: -20px;
  right: -10px;
  outline: none;
  cursor: pointer;
}
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-4 {
  display: flex;
  justify-content: space-between;
}
.flex-grid-4 .col {
  width: 20%;
}

@media (max-width: 575px) {
  .flex-grid,
  .flex-grid-4 {
    display: block;
  }
  .flex-grid-4 .col {
    width: 90% !important;
    margin: 0 0 10px 0;
    margin-left: 2.5%;
  }
  .comic-modal {
    width: 90% !important;
  }
}
@media (max-width: 767px) {
  .flex-grid,
  .flex-grid-4 {
    display: block;
  }
  .flex-grid-4 .col {
    width: 42%;
  }
}
